/* 后代选择器:不论嵌套层次有多深都会选择 */
ul em {
    color: red;
    font-weight: bold;
}

/* 子元素选择器:只选择儿子 */
h1>strong {
    color: red;
}

/* 兄弟元素选择器:两者相邻且同父选择后者 */
div.sibling li+li {
    color: red;
    font-weight: bold;
}

/* id选择器 */
#redBox {
    width: 50px;
    height: 50px;
    border: 2px dotted red;
}

/* 类选择器 */
.blueBox {
    width: 50px;
    height: 50px;
    border: 2px dotted blue;
}

/* 属性选择器 */
p[title=hello] {
    /* 精确匹配 */
    color: blue;
}

p[title~=hello] {
    /* 词列表匹配 */
    color: red;
}

p[title^=hello] {
    /* 开头 */
    color: blue;
}

p[title$=hello] {
    /* 结尾 */
    color: red;
}

p[title*=hello] {
    /* 包含 */
    color: blue;
}

p[lang|=en] {
    /* 开头 */
    color: red;
}

input[type=text] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
    font-family: Verdana, Arial;
}

input[type=button] {
    width: 120px;
    margin-left: 35px;
    display: block;
    font-family: Verdana, Arial;
}

/* 伪类选择器 */
a:link,
a:visited,
a:hover,
a:visited {
    /* 锚伪类 */
}

input:focus {}

p:lang(en) {}

p:first-child {
    /* 作为第一个孩子的元素p */
}

/* 伪元素 */
p::first-letter {}

p::first-line {}

p::before {
    /* 元素前添加内容 */
}

p::after {
    /* 元素后添加内容 */
}

/* 对齐 */
p {
    margin: auto;
    position: absolute;
    float: left;

}

/* 背景 */
body {
    background-color: white;
    /* background-image: url(../TK18_WEB_Road_Marquees_Road.jpg); */
    /* 背景重复方式 no-repeat repeat-x repeat-y repeat */
    background-repeat: repeat-x;
    /* 文档较长时 scroll:背景随页面滚动 fixed背景固定 inherit:继承 */
    background-attachment: fixed;
    /* 配合background-attachment使用 top、bottom等关键字 百分比 像素值 */
    background-position: top;
}

body {
    /* background: red url(../TK18_WEB_Road_Marquees_Road.jpg) no-repeat fixed center; */
}

/* 文本 */
p.textStyle {
    /* 词间隔 */
    word-spacing: 30px;
    /* 字母间隔 */
    letter-spacing: 0.5em;
    text-align: center;
    text-indent: 2cm;
    /* 字符转换 lowercase uppercase capitalize */
    text-transform: capitalize;
    /* 文本修饰 none overline underline line-through blink */
    text-decoration: line-through;
    /* 处理tab、换行、连续空格 空白符 pre nowrap */
    white-space: pre;
    direction: ltr;
    line-height: 10px;
}

a {
    text-decoration: none;
}

/* 字体 */
p.fontStyle {
    /* 字体 */
    font-family: 'Courier New', Courier, monospace;
    /* 字体风格 italic oblique */
    font-style: italic;
    /* 字体变形 */
    font-variant: small-caps;
    /* 字体加粗 bolder lighter 100~900 bold-700 */
    font-weight: bold;
    /* 字体大小 默认16px 1em=16px 百分比设置默认font-size值 */
    font-size: 1em;
}

/* 链接 */
/* 列表 */
ul {
    /* 列表项样式 */
    list-style-type: square;
    /* list-style-image: url(../TK18_WEB_Road_Marquees_Road.jpg); */
    /* 列表标志在列表项内or外 */
    list-style-position: outside;
}

ul {
    /* list-style: url(../TK18_WEB_Road_Marquees_Road.jpg) square inside; */
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    /* 文本对齐 */
    text-align: center;
    vertical-align: top;
}

th {
    /* 高度 */
    height: 100px;
}

td {
    /* 内边距 */
    padding: 15px;
    background-color: green;
    color: white;
}

table {
    border-collapse: separate;
    border-spacing: 10px 30px;
    empty-cells: hide;
}

caption {
    caption-side: bottom;
}

/* 轮廓 style color width */
h3 {
    outline: yellow dotted 10px;
}

/* 边框:均可单独设置上右下左四个方向的值 style color width */
p {
    /* border-style: none; */
    /* 默认项必须设置否则宽度设置项失效 */
    border-style: dotted solid dashed double;
    border-width: thin medium thick 1em;
    border-color: red rebeccapurple blue green;
}

/* 定位 */
/* div.outter {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    margin-top: 30px;
} */

/* div.inner {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin-top: 20px;
} */

/* div.outter {
    position: relative;
    overflow: auto;
    vertical-align: bottom;
}

div.outter:hover {
    background-color: goldenrod;
} */

div.outter>span {
    display: block;
    /* 普通文档流 相对定位 相对于初始位置 初始位置仍占据空间 */
    position: relative;
    left: 100px;
}

div.outter>span {
    display: block;
    /* 绝对定位 脱离文档流 相对于最近已定位的祖先元素 若没有那么'相对于'初始包含块 */
    position: absolute;
    top: 100px;
    left: 50%;
}

div.outter>span {
    /* 固定定位 浏览器窗口 */
    /* position: fixed; */
    /* left: 50%; */
    /* top: 50%; */
    white-space: nowrap;
}

body {
    /* background: url(../TK18_WEB_Road_Marquees_Road.jpg); */
    opacity: 0.7;
    /* 针对 IE8 以及更早的版本 */
    filter: alpha(opacity=70);
    background-repeat: repeat-y;
}

/* CSS3 边框 */
.border {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

/* 背景 */
.background {
    /* 设置多图像 */
    background-image: url(), url();
    /* 设置宽度 相对父元素 */
    background-size: 200px 50%;
    /* border-box padding-box content-box */
    background-origin: border-box;
    background-clip: content-box;
}

@font-face {
    font-family: myFontName;
    src: url('Sansation_Light.ttf');
}

@font-face {
    font-family: myBoldFontName;
    src: url('Sansation_Bold.ttf'),
        url('Sansation_Bold.eot');
    font-weight: bold;
}

p {
    font-family: myFontName;
}

/* 2D变换 */
.transform {
    /* translate\rotate\scale\skew */
    transform: rotate(30deg);
}

.outter {
    width: 100px;
    height: 100px;
    background-color: #6a5acd8c;
    /* 过渡 */
    transition: width 1s ease-in 1s;
}

.inner {
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    background-color: #6a5acdeb;
    transform-origin: 50px 100px;
}

div.outter:hover {
    width: 200px;
    animation: myAnimation 1s;
}

/* 动画 */
@keyframes myAnimation {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

div.inner {
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

div {
    /* 列数 */
    column-count: 3;
    /* 列间距 */
    column-gap: 10px;
    /* 列间宽度样式颜色 */
    column-rule: 2px dotted red;
    /* 元素横跨所有列 */
    column-span: all;
}